<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="takeoff_hgt" default="2.5"/>

  <!-- Node to takeoff to a particular height-->

  <node name="takeoff" type="apm_takeoff" pkg="interiit21-drdo" output="screen">
    <param name="to_hgt" type= "double" value = "$(arg takeoff_hgt)"/>
  </node> 

</launch>